@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn:focus{

	outline: 0;

}

.scene{
	background-color: '#220022';
}

.flexcontainer{

	@apply flex;
	@apply items-center;
	@apply justify-center;

}

.resizable{

	resize: horizontal;
	@apply overflow-auto;

}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {

	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */

}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.hidescrollbar::-webkit-scrollbar {

		display: none;

	}

/* customize scrollbar */
::-webkit-scrollbar {

	width: 10px;
	height: 10px;

}

	::-webkit-scrollbar-track {

		background: rgba(86, 182, 214, 0.347);

	}

	::-webkit-scrollbar-thumb {

		background: rgba(57, 36, 36, 0.925);
		border-radius: 10px;

	}

		::-webkit-scrollbar-thumb:hover {

			background: rgb(214, 86, 144);

		}
